body{

    margin:0;

    font-family:Segoe UI,Arial;

    background:linear-gradient(rgba(10,40,90,.75),
    rgba(10,40,90,.75));

    height:100vh;

}

.login-page{

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.login-box{

    width:420px;

    background:white;

    border-radius:12px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,.35);

}

.logo{

    text-align:center;

    margin-bottom:30px;

}

.logo h2{

    color:#0D47A1;

}

.logo p{

    color:#666;

}

.campo{

    margin-bottom:20px;

}

.campo span{

    font-weight:bold;

    display:block;

    margin-bottom:8px;

}

.ui-inputfield{

    width:100%;

}

.botones{

    text-align:center;

    margin-top:30px;

}

.botones .ui-button{

    margin:5px;

}